body {
    --hover-text-color:rgb(228, 59, 59);
    --hover-bg-color: rgb(255, 205, 205);
    --grey-border: rgb(207, 207, 207);
    --text-weight-button: 700;
}

.app {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}